$white: #FFFEFC;
$less-white: #FFFBF5;
$even-less-white: #FFFAF1;

$primary: #679595;
$red: #D55C5B;
$yellow: #F6C992;
$violet: 596088;

$box-shadow: 0 4px 9px 0 rgba(0, 0, 0, .1);

$border: 1px solid rgba(0, 0, 0, .1);

$border-radius: 20px;
$border-radius-small: 5px;
